<div id="login-container">

  <h1>Sistema Gestión</h1>
    
  <form>
    <label for="cedula">Cédula/Código:</label><br>
    <input type="text" class="form-control form-control" id="cedula" name="cedula" required><br>

    <label for="clave">Clave:</label><br>
    <input type="password" class="form-control form-control" id="clave" name="clave" required><br><br>
    
    <button routerLink="PaginaInicio" class="btn btn-primary" id="ingreso"><i class="fas fa-user"></i> Ingresar</button>
    
  </form>

  <img src= "assets/logoKS.png" id="logoKS" alt="">
  <img src= "assets/seguridad.png" id="seguridad" alt="">

</div>
